# Dependencies
node_modules/
.venv/
env/
venv/
ENV/

# Databases
*.sqlite3
db.sqlite3
data/db.sqlite3-shm
data/db.sqlite3-wal

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Data specific
data/media/
data/backups/
data/.seeded

# React/Vite build
dist/
dist-ssr/
frontend/dist/
*.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Environment variables
.env
.env.*
!.env.example
frontend/.env*

# docker
docker-compose.override.yml
