# Dependencies
node_modules/
backend/venv/
.venv/
env/
venv/
ENV/

# Databases
*.sqlite3
db.sqlite3

# Python cache
__pycache__/
*.py[cod]
*$py.class
backend/**/__pycache__/

# Django specific
backend/staticfiles/
backend/media/
backend/django_cache/
backend/backups/
backend/.seeded

# React/Vite build
dist/
dist-ssr/
frontend/dist/
*.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Environment variables
.env
.env.*
!.env.example
frontend/.env*

# docker
docker-compose.override.yml
